<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>FilterDispatcher</filter-name>
        <filter-class>SE63030.filter.FilterDispatcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterDispatcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>SE63030.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMarksServlet</servlet-name>
        <servlet-class>SE63030.servlet.ViewMarksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkDetailServlet</servlet-name>
        <servlet-class>SE63030.servlet.MarkDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>SE63030.servlet.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>SE63030.servlet.FeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackActionServlet</servlet-name>
        <servlet-class>SE63030.servlet.FeedbackActionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveSubjectServlet</servlet-name>
        <servlet-class>SE63030.servlet.RemoveSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendFeedbackServlet</servlet-name>
        <servlet-class>SE63030.servlet.SendFeedbackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMarksServlet</servlet-name>
        <url-pattern>/ViewMarksServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkDetailServlet</servlet-name>
        <url-pattern>/MarkDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/FeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackActionServlet</servlet-name>
        <url-pattern>/FeedbackActionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveSubjectServlet</servlet-name>
        <url-pattern>/RemoveSubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendFeedbackServlet</servlet-name>
        <url-pattern>/SendFeedbackServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>PRJ321</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
